header
  a(href='/') #{config.blogName}
!= partial('login')
#blog
  .blogEntry(postid='#{data._id}', postuser='#{data.user}')
    #title #{data.title}
    #story!= data.story
    #byUser by 
      a(href='/#{data.user}')= data.user 
      &nbsp;by #{data.createdDate}
    #commentsCount
    .commentPool
    - if (data.canComment)
        #newComment(style='display:none;')
          textarea#input-commentForm.commentText(cols=80, rows=3, size='80', maxlength='1024', placeholder='Write a comment...') Write a comment...
        br
        input.submitContent(type='button', value='Comment')
footer #{config.blogFooter}
script(src='/socket.io/socket.io.js')
script(src='/js/blogComments.js')